/* default stuff */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar Section */

/* Header Section */
.headersection {
    text-align: center;

}
.headersection h2 {
	margin-bottom: 25px;
}


/* Blue Gray Section */


/* Footer */